/*
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*
======= CSS RESET ============
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
======= Basic Styling ============
*/

*{
    background: rgb(150, 150, 150);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h1,
h2 {
    color: whitesmoke;
    background: rgba(76, 150, 113);
}

h6 {
    font-size: 21px;
    padding: 20px;
    text-align: center;
    color: rgba(14, 80, 80, 0.671);
}

p {
    font-size: 16px;
    color: black;
    padding: 10px;
    margin: 10px;
}

.header {
    background: rgba(76, 150, 113);
    text-align: center;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: 2px solid white;
}

.mainContent {
    border: 1px solid white;
    background: rgba(97, 97, 97, 0.6);
    color: black;
    font-size: 18px;
    margin: 10px;
}

.mainContent {
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
}

.footer {
    background: rgba(76, 150, 113);
    border-top: 2px solid white;
    height: 75px;
    width: 100%;
    text-align: center;
    padding-top: 25px;

}

/*
========= Flex ==================
*/

.flex-nav ul {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-nav li {
    border: 1px solid white;
    background: rgba(52, 151, 101, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    flex: 1;
    height: 40px;
    width: 40px;
    margin: 10px;
    display: flex;
}

.flex-nav a {
    color: white;
    background: rgba(34, 124, 124, 0.2);
    flex: 1 100%;
    height: 100%;
    margin: auto;
}

a:hover,
li:hover {
    background: rgba(0,0,0,0.4);
}

@media screen and (max-width: 600px) {
    .flex-nav ul {
        flex-basis: 100%;
    }

    .flex-nav li {
        flex: 1 1 50%;
        font-size: 10px;
    }

}


